:root {
  --primary-color: #b6dd1a;
  --accent-color: #2298ff;

  --white-color: #fff;
  --dark-color: #090710;
  --gray-color: #505c69;
  --light-gray-color: #f3f3f3;
  --line-color: #d7d7dc;

  --mint-color: #1bc88b;
  --red-color: #ff375f;

  --gradient-blue-color: linear-gradient(to bottom, #00c8fe, #4facfe);
  --gradient-green-color: linear-gradient(to bottom, #4facfe, #1bc88b);

  --input-color: #15151d;
}
